@font-face {
  font-family: sahelNormal;
  src: url('/assets/fonts/Sahel.woff') format('woff');
  font-weight: normal;
}
      
@font-face {
  font-family: sahelBold;
  src: url('/assets/fonts/Sahel-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: sahelBlack;
  src:url('/assets/fonts/Sahel-Black.woff') format('woff');
  font-weight: 900;
}

:root {
  --base: #070F2B;
  --primary: #1B1A55;
  --secondary: #535C91;
  --accent: #9290C3;
  --neutral: #dddddd;
  --title: #cffcfc;
}


body {
  padding: 0px;
  font-family: sahelNormal;
  background-color: var(--base);
  direction: rtl;
}


/* Side Bar start here */
.sidebar {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  padding: 2rem 3rem;
  width: 15rem;
  height: 100%;
  transition: 0.7s all;
}

/* Logo */
.sidebar .logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s all;
}

.sidebar .logo-container h2 {
  font-size: larger;
  color: var(--title);
  padding: 0 0 0 1rem;
}

/* Burger */
.sidebar .burger-container {
  content: '';
  background-color: var(--secondary);
  position: absolute;
  left: calc(-35px / 2);
  top: calc(9rem / 1.15);
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  z-index: 1;
  transition: 0.7s all;
}

.sidebar .burger-container::after {
  content: '';
  position: relative;
  left: 35px;
  top: calc(35px /2);
  z-index: 0;
  width: calc(6rem + 15rem);
  background-color: var(--primary);
  height: 2px;
  transition: 0.5s all;
}

.sidebar .burger-container .burger-trigger {
  content: '';
  width: 35px;
  height: 35px;
  background-color: var(--secondary);
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  position: relative;
  transition: 0.5s all;
}

.sidebar .burger-container .burger-menu {
  content: '';
  background-color: var(--secondary);
  position: relative;
  z-index: 1;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  bottom: calc(35px / 2);
  right: 0.45rem;
  transition: 0.5s all;
}

.sidebar .burger-container .burger-menu::after {
  content: '';
  background-color: var(--primary);
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: 0.4rem;
  transform: translateY(-0.4rem) rotate(45deg);
  transition: 0.5s all;
}

.sidebar .burger-container .burger-menu::before {
  content: '';
  background-color: var(--primary);
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: -0.4rem;
  transform: translateY(0.4rem) rotate(-45deg);
  transition: 0.5s all;
}


/* Profile */
.sidebar .profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0px 0px 0px;
  transition: 0.7s all;
}

.sidebar .profile-container img {
  width: auto;
  height: 5rem;
  transition: 0.5s all;
}

.sidebar .profile-container .profile-content {
  padding: 0px 0px 0px 3rem;
  transition: 0.5s all;
}

.sidebar .profile-container .profile-content .name {
  padding: 0px;
  margin: 0px;
  font-size: large;
  color: var(--title);
  font-family: sahelBold;
  transition: 0.5s all;
}

.sidebar .profile-container .profile-content .email {
  padding: 0px;
  margin: 0px;
  font-size: medium;
  color: var(--title);
  font-family: sahelBold;
  text-transform: lowercase;
  transition: 0.5s all;
}


/* Content */
.sidebar .content-container {
  margin: 3rem 0 0 0;
  transition: 0.5s all;
}

.sidebar .content-container ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: None;
  padding: 0px;
  margin: 0px;
  transition: 0.5s all;
}

.sidebar .content-container ul li.active {
  background-color: var(--secondary);
  border-radius: 20px;
  width: 100%;
  transition: 0.5s all;
}

.sidebar .content-container ul li.active a {
  color: var(--primary);
  transition: 0.5s all;
}

.sidebar .content-container ul li:hover {
  background-color: var(--accent);
  border-radius: 20px;
  transition: 0.55s all;
}

.sidebar .content-container ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  width: 100%;
  border: 1rem;
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 20px;
}

.sidebar .content-container ul li img {
  padding: 0rem 0.5rem 0rem 0rem;
  transition: 0.5s all;
}

.sidebar .content-container ul li a {
  text-decoration: none;
  color: var(--title);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0px 0.5rem;
  transition: 0.5s all;
}


/* Active SideBar */

.sidebar.active {
  transition: 0.7s all;
  width: 3rem;
}

.sidebar.active .logo-container {
  transition: 0.2s all;
}

.sidebar.active .logo-container h2 {
  transition: 0.2s all;
  opacity: 0;
}


.sidebar.active .burger-container.active {
  transition: 0.1s all;
}

.sidebar.active .burger-container .burger-menu {
  background-color: var(--primary);
  transition: 0.3s all;
}

.sidebar.active .burger-container .burger-menu::before {
  transform: translateY(0rem) rotate(0deg);
  transition: 0.3s all;
}

.sidebar.active .burger-container .burger-menu::after {
  transform: translateY(0rem) rotate(0deg);
  transition: 0.2s all;
}

.sidebar.active .profile-container .profile-content {
  opacity: 0;
  transition: 0.2s all;
}

.sidebar.active .content-container a {
  transition: 0.2s all;
  opacity: 0;
}

.sidebar.active .content-container li.active {
  width: 150%;
}

.sidebar.active .content-container li {
  width: 150%;
  border-radius: 20px;
}

.sidebar.active .content-container ul li:hover {
  background-color: var(--accent);
  border-radius: 20px;
  transition: 0.8s all;
  a {
    opacity: 1;
    text-align: start;
    margin-right: 25px;
    color: var(--title);
    transition: 0.5s all;
  }
}
